<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar">
    <div class="nav-wrapper">
        <!-- Dropdown Trigger -->
        <div></div>
        <div class="title-header" th:text="${title}"></div>
        <div class="custom-avatar">
            <div th:if="${name}" th:text="${name}"></div>
            <div th:if="${memberName}" th:text="${memberName}"></div>
            <a class='dropdown-trigger ' href='#' data-target='dropdown1'>
                <div class="user-avatar">
                    <img th:src="@{/img/avatar.png}">
                </div>
            </a>

        </div>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a th:href="@{/change_info}"><i class="material-icons">person</i>Change Info</a></li>
            <li><a th:href="@{/change_password}"><i class="material-icons">local_pizza</i>Change password</a></li>
            <li><a th:href="@{/logout}"><i class="material-icons">power_settings_new</i>Logout</a></li>
        </ul>
    </div>
    <div class="preloader-custom">
        <img th:src="@{/img/preloader.svg}">
    </div>
</nav>
</html>

